#dumpmehere {
  border: 1px solid black;
  width: 100%;
  height: 300px;
}

.cont {
  margin-left: auto;
  margin-right: auto; 
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 1px solid black;
}
 
.dragme {
  width: 100px;
  padding: 30px;
  background-color: blue;
  margin: auto;
  color: white;

}

input { 
visibility: hidden;
}