

a {
	color: #fab000;
}

a {
	transition: color, background-color, opacity;
	transition-duration: .2s
}

a, a:hover {
	text-decoration: none
}

::-moz-selection {
	color: #fff;
	background: #fab000
}

::selection {
	color: #fff;
	background: #fab000
}

img {
	max-width: 100%
}

/* SLANTED AREA */

.bottom-contain {
	background: #fff;
	/*padding-top: 140px;*/
    padding-top: 20px;
	overflow: hidden
}

.newsletter {
	-webkit-transform: rotate(-1.5deg);
	-moz-transform: rotate(-1.5deg);
	-o-transform: rotate(-1.5deg);
	-ms-transform: rotate(-1.5deg);
	transform: rotate(-1.5deg);
	background: rgb(24, 101, 221);
	color: #FFF;
	padding: 50px 0 150px 0;
	text-align: center;
	margin: -100px -50px 0 -50px
}

.newsletter-inner {
	margin: 0 50px;
	-webkit-transform: rotate(1.5deg);
	-moz-transform: rotate(1.5deg);
	-o-transform: rotate(1.5deg);
	-ms-transform: rotate(1.5deg);
	transform: rotate(1.5deg)
	color: #FFF;
}

.site-footer-container {
	/*background: #0e1e31;*/
    background: #649dd3;
    height:  193px;
}

.site-footer {
	/*background: #0c223b;*/
    background: #3676c3;;

	-webkit-transform: rotate(1.5deg);
	-moz-transform: rotate(1.5deg);
	-o-transform: rotate(1.5deg);
	-ms-transform: rotate(1.5deg);
	transform: rotate(1.5deg);
	/*margin: -70px -50px 0 -50px;*/
    margin: 0 0 -110px 0;

	color: #fff;
	padding: 70px 0 50px;
	text-align: center
}

.site-footer-inner {
	margin: 0 50px;
	-webkit-transform: rotate(-1.5deg);
	-moz-transform: rotate(-1.5deg);
	-o-transform: rotate(-1.5deg);
	-ms-transform: rotate(-1.5deg);
	transform: rotate(-1.5deg)
}

.site-footer h3 {
	font-size: 15px;
	text-align: center;
    /*text-transform: uppercase*/
	margin: 0 0 40px;
}

@media (max-width:992px) {
.site-footer h3 {
	margin-bottom: 20px
}
}

.site-footer a {
	color: #fff
}
.site-footer a:hover {
	color: #e2e6e8
}

.btn {
	background: black;
	color: #fff;
	display: inline-block;
	font-family: inherit;
	padding: 12px 20px;
	/*text-transform: uppercase*/
    font-size: 14px;

}
.btn:hover {
	background: #fff;
	color: #fab000
}

@media (max-width:768px) {
.btn {
	font-size: 24px;
	padding: 8px 14px
}
}
.btn-inverse {
	background: #111215;
	color: #fff
}


.newsletter-inner input{
	display: unset;
}
