body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #edf3ff; }

#navbar {
  width: 100%;
  height: 82px;
  background-color: #fff;
  border-bottom: 2px solid #e9ecf1;
  position: fixed;
  top: 0px;
  left: 0px;
  display: grid;
  grid-template-columns: 100px auto 1fr  auto;
  z-index: 4; }
  @media (max-width: 450px) {
    #navbar {
      grid-template-columns: 100px 1fr auto; } }
  #navbar img {
    height: 60px;
    margin: 10px 0 0 15px; }
  #navbar h1 {
    margin: 0 0 0 5px;
    padding: 0;
    line-height: 85px;
    font-size: 20px; }
    #navbar h1::selection {
      color: #111; }
    @media (max-width: 450px) {
      #navbar h1 {
        display: none; } }
    @media (max-width: 850px) {
      #navbar h1 {
        font-size: 17px; } }
  #navbar .navbar-links {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 0 50px 0 0;
    column-gap: 30px; }
    @media (max-width: 850px) {
      #navbar .navbar-links {
        display: none; } }
    #navbar .navbar-links a {
      line-height: 85px;
      text-decoration: none;
      font-size: 14px;
      color: #111; }
  #navbar .navbar-links-dropdown {
    display: none;
    position: relative; }
    @media (max-width: 850px) {
      #navbar .navbar-links-dropdown {
        display: block; } }
    #navbar .navbar-links-dropdown .navbar-links-dropdown-btn {
      position: absolute;
      border-radius: 2px;
      color: #fff;
      top: 17px;
      right: 20px;
      font-size: 25px;
      padding: 13px;
      cursor: pointer;
      text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555; }
    #navbar .navbar-links-dropdown #navbar-links-dropdown-content {
      display: none;
      position: absolute;
      top: 90px;
      right: 10px;
      width: 150px;
      height: auto;
      z-index: 5;
      background-color: #fff;
      border: 1px solid #dadada;
      padding: 0 0 10px 0;
      border-radius: 3px; }
      #navbar .navbar-links-dropdown #navbar-links-dropdown-content a {
        display: block;
        width: 90%;
        height: 35px;
        margin: 10px auto 0 auto;
        text-align: center;
        line-height: 35px;
        font-size: 13px;
        color: #111;
        text-decoration: none;
        cursor: pointer; }
        #navbar .navbar-links-dropdown #navbar-links-dropdown-content a::selection {
          color: #111; }
        #navbar .navbar-links-dropdown #navbar-links-dropdown-content a:hover {
          background-color: #f2f6f9; }

#main-index {
  margin: 15px 0 0 0;
  width: 100%;
  padding: 0;
  position: relative;
  background-color: #edf3ff; }
  #main-index .sun {
    z-index: 2;
    position: absolute;
    left: 47%;
    top: 480px;
    transform: translate(-50%, -50%);
    width: 170px;
    height: 170px;
    border-radius: 300px;
    background: linear-gradient(to bottom right, #ffff52, #ffe250, #ffdd4a, #ffe359, #ffff52); }
    @media (max-width: 450px) {
      #main-index .sun {
        top: 370px; } }
  #main-index .clouds {
    width: calc(100%);
    height: 380px;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 2;
    overflow-x: hidden;
    /* ANIMATIONS */ }

@-webkit-keyframes animateCloud {
  0% {
    margin-left: -700px; }
  100% {
    margin-left: 100%; } }

@-moz-keyframes animateCloud {
  0% {
    margin-left: -700px; }
  100% {
    margin-left: 100%; } }

@keyframes animateCloud {
  0% {
    margin-left: -700px; }
  100% {
    margin-left: 100%; } }
    #main-index .clouds .cloud1 {
      -webkit-animation: animateCloud 40s linear infinite;
      -moz-animation: animateCloud 40s linear infinite;
      animation: animateCloud 40s linear infinite;
      -webkit-transform: scale(0.5);
      -moz-transform: scale(0.5);
      transform: scale(0.5); }
    #main-index .clouds .cloud2 {
      -webkit-animation: animateCloud 18s linear infinite;
      -moz-animation: animateCloud 18s linear infinite;
      animation: animateCloud 18s linear infinite;
      -webkit-transform: scale(0.4);
      -moz-transform: scale(0.4);
      transform: scale(0.4); }
    #main-index .clouds .cloud3 {
      -webkit-animation: animateCloud 25s linear infinite;
      -moz-animation: animateCloud 25s linear infinite;
      animation: animateCloud 25s linear infinite;
      -webkit-transform: scale(0.55);
      -moz-transform: scale(0.55);
      transform: scale(0.55); }
    #main-index .clouds .cloud1 .cloud, #main-index .clouds .cloud2 .cloud, #main-index .clouds .cloud3 .cloud {
      background: #fff;
      background: -moz-linear-gradient(top, #fff 5%, #f1f1f1 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #fff), color-stop(100%, #f1f1f1));
      background: -webkit-linear-gradient(top, #fff 5%, #f1f1f1 100%);
      background: -o-linear-gradient(top, #fff 5%, #f1f1f1 100%);
      background: -ms-linear-gradient(top, #fff 5%, #f1f1f1 100%);
      background: linear-gradient(top, #fff 5%, #f1f1f1 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
      -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
      -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      height: 120px;
      position: relative;
      width: 350px; }
      #main-index .clouds .cloud1 .cloud:after, #main-index .clouds .cloud1 .cloud:before, #main-index .clouds .cloud2 .cloud:after, #main-index .clouds .cloud2 .cloud:before, #main-index .clouds .cloud3 .cloud:after, #main-index .clouds .cloud3 .cloud:before {
        background: #fff;
        content: '';
        position: absolute;
        z-indeX: -1; }
      #main-index .clouds .cloud1 .cloud:after, #main-index .clouds .cloud2 .cloud:after, #main-index .clouds .cloud3 .cloud:after {
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        height: 100px;
        left: 50px;
        top: -30px;
        width: 100px; }
      #main-index .clouds .cloud1 .cloud:before, #main-index .clouds .cloud2 .cloud:before, #main-index .clouds .cloud3 .cloud:before {
        -webkit-border-radius: 200px;
        -moz-border-radius: 200px;
        border-radius: 200px;
        width: 180px;
        height: 180px;
        right: 50px;
        top: -60px; }
  #main-index #section-intro {
    height: 680px;
    width: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%235877cc' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23075baa' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%235e8ed2' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%232968bb' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%2372a3d5' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%233f75cb' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%238eb7d6' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%235282dc' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23b0c9d8' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%236490ee' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23d5dadc' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23769eff' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-size: cover;
    background-position: bottom;
    border-bottom: 1px solid #dadada;
    position: absolute;
    top: 1px;
    left: 0;
    z-index: 3; }
    @media (max-width: 450px) {
      #main-index #section-intro {
        height: 500px;
        padding: 0 0 0 20px; } }
    #main-index #section-intro h2 {
      padding: 205px 0 0 10px;
      width: 290px;
      margin: 0 auto; }
      @media (max-width: 450px) {
        #main-index #section-intro h2 {
          padding: 110px 0 0 3px; } }
    #main-index #section-intro #section-intro-text {
      display: block;
      text-align: left;
      width: 290px;
      margin: 20px auto 0 auto; }
      #main-index #section-intro #section-intro-text p {
        background-color: #fff;
        margin: 10px 2px 0 0;
        width: auto;
        display: inline-block;
        padding: 9px 16px;
        font-size: 14px;
        color: #111;
        border-radius: 4px;
        font-weight: 200;
        border: 1px solid #dce3e9; }
        #main-index #section-intro #section-intro-text p.slideleft {
          background: linear-gradient(to right, #3d79ff 50%, #7197ff 50%);
          background-size: 201% 100%;
          background-position: right bottom;
          transition: all 0.2s ease-in;
          margin: 15px 0 0 0;
          border-radius: 55px;
          padding: 8px 13px 9px 13px;
          border: none;
          width: 260px;
          white-space: nowrap; }
          #main-index #section-intro #section-intro-text p.slideleft a {
            display: block;
            height: auto;
            margin: 0;
            line-height: 27px;
            text-decoration: none;
            color: #fff;
            padding: 0 0 0 5px;
            font-size: 15px;
            font-weight: 500; }
            #main-index #section-intro #section-intro-text p.slideleft a i {
              display: block;
              line-height: 22px;
              font-size: 10px;
              padding: 3px 0 0 10px;
              float: right;
              color: #fff; }
          #main-index #section-intro #section-intro-text p.slideleft:hover {
            background-position: left bottom; }
            #main-index #section-intro #section-intro-text p.slideleft:hover a {
              color: #fff; }
              #main-index #section-intro #section-intro-text p.slideleft:hover a i {
                color: #fff; }
  #main-index #scroll-down {
    height: 25px;
    width: 100%;
    position: relative;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    top: 680px;
    background-color: #f8f8f8;
    z-index: 3; }
    @media (max-width: 450px) {
      #main-index #scroll-down {
        top: 500px; } }
    #main-index #scroll-down i {
      position: absolute;
      left: 49%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 18px;
      color: #f0f0f0;
      text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
      padding: 16px 14px 12px 14px;
      border-radius: 50px;
      background-color: #fff;
      border: 1px solid #dadada; }
  #main-index #section-about {
    height: auto;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 680px;
    padding: 0 20px 20px 20px; }
    @media (max-width: 450px) {
      #main-index #section-about {
        margin-top: 500px;
        padding: 0 5px 20px  5px; } }
    #main-index #section-about h2 {
      display: block;
      max-width: 840px;
      height: auto;
      padding: 40px 20px 35px 20px;
      margin: 0px auto; }
      @media (max-width: 450px) {
        #main-index #section-about h2 {
          padding: 40px 5px 25px 20px; } }
    #main-index #section-about .card {
      max-width: 800px;
      width: calc( 100% - 40px);
      height: auto;
      padding: 20px;
      margin: 0 auto;
      border: 1px solid #dadada;
      font-weight: 200;
      font-size: 15px;
      line-height: 25px;
      border-radius: 2px;
      position: relative;
      -webkit-box-shadow: 0px 11px 12px -23px #4e555c;
      -moz-box-shadow: 0px 11px 12px -23px #4e555c;
      box-shadow: 0px 11px 12px -23px #4e555c; }
  #main-index #section-services {
    height: auto;
    width: 100%;
    padding: 0 20px 20px 20px;
    background-color: #fff;
    border-radius: 2px; }
    @media (max-width: 450px) {
      #main-index #section-services {
        padding: 0 5px 20px  5px; } }
    #main-index #section-services h2 {
      display: block;
      max-width: 840px;
      height: auto;
      padding: 40px 20px 35px 20px;
      margin: 0px auto; }
      @media (max-width: 450px) {
        #main-index #section-services h2 {
          padding: 20px 5px 25px 20px; } }
    #main-index #section-services .card {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      max-width: 800px;
      width: calc( 100% - 40px);
      height: auto;
      margin: 0 auto;
      border: 1px solid #dadada;
      -webkit-box-shadow: 0px 11px 12px -23px #4e555c;
      -moz-box-shadow: 0px 11px 12px -23px #4e555c;
      box-shadow: 0px 11px 12px -23px #4e555c;
      border-radius: 2px; }
      #main-index #section-services .card .card-top {
        line-height: 24px;
        font-weight: 200;
        padding: 20px;
        border-bottom: 1px solid #dadada;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 20px;
        background-color: #fbfbfb;
        border-radius: 3px; }
        @media (max-width: 800px) {
          #main-index #section-services .card .card-top {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 170px 170px;
            row-gap: 20px; } }
        @media (max-width: 430px) {
          #main-index #section-services .card .card-top {
            grid-template-columns: 1fr;
            grid-template-rows: 170px 170px 170px 170px;
            row-gap: 20px; } }
        #main-index #section-services .card .card-top .card-service {
          border: 1px solid #dadada;
          background-color: #fff;
          text-align: center;
          padding: 5px 10px 15px 5px; }
          #main-index #section-services .card .card-top .card-service i {
            margin: 30px 0 10px 0;
            font-size: 30px;
            color: #c2cad8; }
            @media (max-width: 800px) {
              #main-index #section-services .card .card-top .card-service i {
                font-size: 40px; } }
          #main-index #section-services .card .card-top .card-service span {
            font-size: 13px;
            font-weight: 500;
            color: #111; }
      #main-index #section-services .card .card-bottom {
        padding: 0 0 25px 0; }
        #main-index #section-services .card .card-bottom h4 {
          margin: 35px 0  20px 0;
          padding: 0 20px 0 20px; }
          #main-index #section-services .card .card-bottom h4:nth-of-type(2) {
            padding: 35px 0  0 20px;
            border-top: 1px solid #dadada; }
        #main-index #section-services .card .card-bottom p {
          font-weight: 200;
          font-size: 14px;
          line-height: 25px;
          margin: 15px 0 0 0;
          padding: 0 20px 0 20px; }
          #main-index #section-services .card .card-bottom p strong {
            font-weight: 500; }
        #main-index #section-services .card .card-bottom .tehc-stack {
          padding: 0 20px 0 20px; }
          #main-index #section-services .card .card-bottom .tehc-stack .tech-icon {
            width: 45px;
            height: 45px;
            border-radius: 3px;
            background-color: #f4f4f4;
            position: relative;
            float: left;
            margin: 5px 18px 25px 0; }
            #main-index #section-services .card .card-bottom .tehc-stack .tech-icon span {
              position: absolute;
              left: 50%;
              bottom: -20px;
              transform: translate(-50%, 0);
              font-size: 9px;
              font-weight: 200; }
            #main-index #section-services .card .card-bottom .tehc-stack .tech-icon img {
              position: absolute;
              background-color: white;
              width: 37px;
              height: 37px;
              border-radius: 3px;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              padding: 3px; }
  #main-index #section-portfolio {
    height: auto;
    width: 100%;
    background-color: #fff;
    padding: 0 20px 30px 20px; }
    @media (max-width: 450px) {
      #main-index #section-portfolio {
        padding: 0 5px 20px  5px; } }
    #main-index #section-portfolio h2 {
      display: block;
      max-width: 840px;
      height: auto;
      padding: 40px 20px 15px 20px;
      margin: 0px auto; }
      @media (max-width: 450px) {
        #main-index #section-portfolio h2 {
          padding: 20px 5px 0 20px; } }
    #main-index #section-portfolio h5 {
      display: block;
      max-width: 840px;
      height: auto;
      padding: 10px 20px 35px 20px;
      margin: 0px auto; }
      @media (max-width: 450px) {
        #main-index #section-portfolio h5 {
          padding: 10px 5px 20px 20px; } }
    #main-index #section-portfolio .container {
      padding: 0; }
      @media (min-width: 576px) {
        #main-index #section-portfolio .container {
          max-width: 840px !important;
          width: 100%; } }
      @media (min-width: 768px) {
        #main-index #section-portfolio .container {
          max-width: 840px !important;
          width: 100%; } }
      @media (min-width: 992px) {
        #main-index #section-portfolio .container {
          max-width: 840px !important;
          width: 100%; } }
      @media (min-width: 1200px) {
        #main-index #section-portfolio .container {
          max-width: 840px !important;
          width: 100%; } }
  #main-index #section-preview {
    height: auto;
    width: 100%;
    background-color: #fff;
    padding: 0 20px 30px 20px; }
    @media (max-width: 450px) {
      #main-index #section-preview {
        padding: 0 5px 20px  5px; } }
    #main-index #section-preview h2 {
      display: block;
      max-width: 840px;
      height: auto;
      padding: 40px 20px 15px 20px;
      margin: 0px auto; }
      @media (max-width: 450px) {
        #main-index #section-preview h2 {
          padding: 20px 5px 0 20px; } }
    #main-index #section-preview h5 {
      display: block;
      max-width: 840px;
      height: auto;
      padding: 10px 20px 35px 20px;
      margin: 0px auto; }
      @media (max-width: 450px) {
        #main-index #section-preview h5 {
          padding: 10px 5px 20px 20px; } }
    #main-index #section-preview .container {
      padding: 0; }
      @media (min-width: 576px) {
        #main-index #section-preview .container {
          max-width: 840px !important;
          width: 100%; } }
      @media (min-width: 768px) {
        #main-index #section-preview .container {
          max-width: 840px !important;
          width: 100%; } }
      @media (min-width: 992px) {
        #main-index #section-preview .container {
          max-width: 840px !important;
          width: 100%; } }
      @media (min-width: 1200px) {
        #main-index #section-preview .container {
          max-width: 840px !important;
          width: 100%; } }
      #main-index #section-preview .container .preview-container {
        max-width: 840px !important;
        width: 100%;
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 15px;
        row-gap: 25px;
        padding: 0 20px; }
        @media (max-width: 906px) {
          #main-index #section-preview .container .preview-container {
            display: grid;
            grid-auto-rows: auto;
            grid-template-columns: 1fr; } }
        #main-index #section-preview .container .preview-container .card {
          height: auto;
          border: 1px solid #dadada;
          padding: 0 0 15px 0;
          display: grid;
          grid-template-rows: 45px 1fr;
          border-radius: 2px;
          width: 100%;
          -webkit-box-shadow: 0px 15px 29px -35px rgba(17, 25, 36, 0.75);
          -moz-box-shadow: 0px 15px 29px -35px rgba(17, 25, 36, 0.75);
          box-shadow: 0px 15px 29px -35px rgba(17, 25, 36, 0.75); }
          @media (min-width: 576px) {
            #main-index #section-preview .container .preview-container .card {
              width: 100%; } }
          @media (min-width: 768px) {
            #main-index #section-preview .container .preview-container .card {
              width: 100%; } }
          @media (min-width: 992px) {
            #main-index #section-preview .container .preview-container .card {
              width: 100%; } }
          @media (min-width: 1200px) {
            #main-index #section-preview .container .preview-container .card {
              width: 100%; } }
          #main-index #section-preview .container .preview-container .card h1 {
            background-color: #fbfbfb;
            margin: 0;
            line-height: 45px;
            font-size: 13px;
            font-weight: 400;
            border-bottom: 1px solid #dadada;
            text-align: center; }
          #main-index #section-preview .container .preview-container .card .preview {
            max-width: 100%;
            width: calc( 100% - 60px);
            margin: 10px auto 20px auto; }
            @media (min-width: 576px) {
              #main-index #section-preview .container .preview-container .card .preview {
                width: calc( 100% - 100px);
                margin: 10px auto 30px auto; } }
            @media (min-width: 768px) {
              #main-index #section-preview .container .preview-container .card .preview {
                width: calc( 100% - 100px);
                margin: 10px auto 30px auto; } }
            @media (min-width: 992px) {
              #main-index #section-preview .container .preview-container .card .preview {
                width: calc( 100% - 80px);
                margin: 10px auto 20px auto; } }
            @media (min-width: 1200px) {
              #main-index #section-preview .container .preview-container .card .preview {
                width: calc( 100% - 80px);
                margin: 10px auto 20px auto; } }
            #main-index #section-preview .container .preview-container .card .preview a img {
              margin: 13px 0 0 0;
              max-width: initial;
              border: 1px solid #dadada;
              border-radius: 2px; }
              @media (min-width: 576px) {
                #main-index #section-preview .container .preview-container .card .preview a img {
                  margin: 25px 0 0 0; } }
              @media (min-width: 768px) {
                #main-index #section-preview .container .preview-container .card .preview a img {
                  margin: 25px 0 0 0; } }
              @media (min-width: 992px) {
                #main-index #section-preview .container .preview-container .card .preview a img {
                  margin: 13px 0 0 0; } }
              @media (min-width: 1200px) {
                #main-index #section-preview .container .preview-container .card .preview a img {
                  margin: 13px 0 0 0; } }
  #main-index #section-pricing {
    height: auto;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    padding: 0 20px 20px 20px; }
    @media (max-width: 450px) {
      #main-index #section-pricing {
        padding: 0 5px 20px  5px; } }
    #main-index #section-pricing h2 {
      display: block;
      max-width: 840px;
      height: auto;
      padding: 40px 20px 35px 20px;
      margin: 0px auto; }
      @media (max-width: 450px) {
        #main-index #section-pricing h2 {
          padding: 40px 5px 25px 20px; } }
    #main-index #section-pricing .card {
      max-width: 800px;
      width: calc( 100% - 40px);
      height: auto;
      padding: 20px;
      margin: 0 auto;
      border: 1px solid #dadada;
      font-weight: 200;
      font-size: 15px;
      line-height: 25px;
      border-radius: 2px;
      position: relative;
      -webkit-box-shadow: 0px 11px 12px -23px #4e555c;
      -moz-box-shadow: 0px 11px 12px -23px #4e555c;
      box-shadow: 0px 11px 12px -23px #4e555c; }
  #main-index #section-contact {
    height: auto;
    width: 100%;
    background-color: #fff;
    padding: 0 40px 30px 40px; }
    @media (max-width: 450px) {
      #main-index #section-contact {
        padding: 0 15px 0 20px; } }
    #main-index #section-contact h5 {
      display: block;
      max-width: 805px;
      height: auto;
      padding: 0 0 20px 0;
      margin: 0px auto;
      line-height: 25px; }
      #main-index #section-contact h5 strong {
        font-weight: 400; }
    #main-index #section-contact h2 {
      display: block;
      max-width: 805px;
      height: auto;
      padding: 25px 0 25px 0;
      margin: 0px auto; }

#icons-from-wrap {
  width: 100%;
  height: 25px;
  background: #80bed3; }
  #icons-from-wrap #icons-from {
    height: 25px;
    line-height: 25px;
    margin: 0 auto;
    width: 100px; }
    #icons-from-wrap #icons-from a {
      display: block;
      float: right; }
